.scurve {
    width: 100%;
    aspect-ratio: 20/6.5;
    background-position: center;
    background-size: cover;
    transform: scaleY(1.1);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

}
.pOfScurve {
    text-align: center;
}

.scurve-text-container {
    width: calc(37% - 5vw);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #1cb9a8;
    text-align: center;
    position: relative;
}

.down {
    justify-content: flex-end;
    font-size:1.9vw;
    left: -9%;
    top: calc(-28% + 5vw);
}

.up {
    justify-content: flex-start;
    font-size:1.35vw;
    left: 6.5%;
    top: 9%;
}

.headingOfScurve {
    font-size: 2.4vw;
}

.scurve-text-container>* {
    transform: scaleY(0.83);
}

.purple {
    color:#c97ce5;
}